html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Flaticon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"), url("flaticon.woff") format("woff"), url("flaticon.ttf") format("truetype"), url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasR';
    src: url('BebasNeue Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-calendar-icons:before {
    content: "\e000";
}

.flaticon-pin56:before {
    content: "\e001";
}

.hidden {
    display: none;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    width: 100%;
}

.navigation {
    list-style: none;
    background: rgba(9, 59, 77, .8);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 1em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-trigger {
    display: none;
}

.nav-trigger + label,
{
    display: none;
}

.relative {
    position: relative;
}

nav li {
    display: inline-block;
    padding: 0 1em;
}

nav li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding-bottom: 5px;
    font-weight: 300;
    transition: all .4s;
    border-bottom: 2px solid rgba(244, 128, 56, 0);
}

nav a:hover {
    border-bottom: 2px solid rgba(244, 128, 56, 0.9);
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(9, 59, 77, 1);
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
}

.wrapper-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.first-section {
    background: url('../img/splash-bg.jpg') no-repeat center center fixed;
    /*CREDITS  - Picture taken from: https://www.flickr.com/photos/74434277@N06/8136102013/*/
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1 {
    margin-bottom: 0;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    padding: 1rem 1.2rem;
    display: inline-block;
    margin-top: 3em;
    position: relative;
    font-family: 'BebasR', 'Open Sans', sans-serif;
}

h2:after,
h2:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 40px;
    background: #f48038;
}

h2:after {
    left: 0;
}

h2:before {
    right: 0;
}

.event-info p {
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.5;
    font-weight: 300;
}

.event-info .event-date {
    font-weight: bold;
    font-size: 1.5em;
}

.event-info a {
    color: white;
    text-decoration: none;
}

.link-palestrante {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 1em;
    border: 1px solid white;
    transition: all .3s ease-in-out;
}

.link-palestrante:hover {
    background: rgba(0, 0, 0, 0.4);
}

.link-coc {
    margin-top: 1em;
    display: inline-block;
}

.link-coc span {
    text-decoration: underline;
}

.hero-button {
    background: #F48038;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em 2.1em;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 10%;
    text-decoration: none;
    border-bottom: 5px solid #DA5D10;
    transition: all .3s ease-in-out;
    margin: 1em;
}

.hero-button:hover {
    background: #DA5D10;
}

#talkers h2 {
    margin-bottom: 0;
}

#talkers .small-soon {
    margin-top: 0;
}

#talkers ul.talkers {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
    padding: 0 8em;
    margin: 90px 0;
}

img.arlindo {
    position: relative;
    top: -50px;
}

img.andrea {
    position: relative;
    top: -30px;
}

#talkers .talker {
    padding: 2em;
    margin: 1em;
    height: 500px;
    max-height: 560px;
    overflow: hidden;
    background: white;
    text-align: center;
    transition: all 1s;
}

.talker .talk-description {
    text-align: left;
}

.talker.soon {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#talkers label {
    -webkit-flex: 1 450px;
        -ms-flex: 1 450px;
            flex: 1 450px;
    width: 100%;
}

.see-more {
    position: relative;
}

.see-more:after {
    content: '...';
    position: absolute;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, .95);
    bottom: 0;
    left: 0;
    z-index: 9999;
    font-size: 3em;
    color: #DA5D10;
    font-weight: bold;
}

#talk-desc1,
#talk-desc2,
#talk-desc3,
#talk-desc4,
#talk-desc5,
#talk-desc6,
#talk-desc7,
#talk-desc8,
#talk-desc9,
#talk-desc10,
#talk-desc11,
#talk-desc12 {
    visibility: hidden;
    position: absolute;
}

#talk-desc1:checked + .talker,
#talk-desc2:checked + .talker,
#talk-desc3:checked + .talker,
#talk-desc4:checked + .talker,
#talk-desc5:checked + .talker,
#talk-desc6:checked + .talker,
#talk-desc7:checked + .talker,
#talk-desc8:checked + .talker,
#talk-desc9:checked + .talker,
#talk-desc10:checked + .talker,
#talk-desc11:checked + .talker,
#talk-desc12:checked + .talker {
    max-height: 2000px;
    height: auto;
    overflow: visible;
}

#talk-desc1:checked + .see-more:after,
#talk-desc2:checked + .see-more:after,
#talk-desc3:checked + .see-more:after,
#talk-desc4:checked + .see-more:after,
#talk-desc5:checked + .see-more:after,
#talk-desc6:checked + .see-more:after,
#talk-desc7:checked + .see-more:after,
#talk-desc8:checked + .see-more:after,
#talk-desc9:checked + .see-more:after,
#talk-desc10:checked + .see-more:after,
#talk-desc11:checked + .see-more:after,
#talk-desc12:checked + .see-more:after {
    display: none;
}

#talkers .talker:hover {
    cursor: pointer;
    box-shadow: 0px 13px 77px -8px rgba(0, 0, 0, 0.54);
}

#talkers .talker.full-talk {
    border: 4px solid #DA5D10;
}

#talkers .talker.lightning {
    border: 4px solid #32999C;
}

#talkers .talker.lightning.see-more:after {
    color: #32999C;
}

.talker figure {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.talker.lightning .talk-title:before {
    content: '';
    background: url('../img/raio.svg');
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.talker .talker-name {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.talker .talker-twitter {
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: rgba(9, 59, 77, 1);
}

#schedule,
#talkers {
    background: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: white url('../img/half-logo.png') fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
}



#schedule .talkers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 100px;
}

#schedule .talker {
    padding: 60px 60px 60px 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

#schedule .talker-info {
    min-width: 505px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    left: -570px;
    top: 0;
}

#schedule .talker-info p {
    text-align: right;
}

#schedule .talker-info .talker-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 0;
}

.talker-bio {
    font-weight: 300;
}

#schedule .talker-pic {
    width: 200px;
    height: 200px;
    margin: 0;
    overflow: hidden;
    border: 3px solid #DA5D10;
}

#schedule .talker-info img {
    width: 100%;
   
}

#schedule img.arlindo {
    position: relative;
    top: -50px;
}

#schedule .talk-info {
    border-left: 3px solid #DA5D10;
    padding-left: 50px;
    margin-left: 30px;
    width: 400px;
    position: relative;
    margin-bottom: 80px;
    padding-right: 10px;
}

#schedule .talk-info p {
    max-width: 380px;
}

#schedule .talk-info h3.talk-title {
    margin-top: 20px;
    font-size: 1.6em;
}

#schedule .talk-info h3 {
    margin: 0 0 10px 0;
}

#schedule .talk-info:before {
    content: '';
    width: 30px;
    height: 30px;
    background: white;
    border: 6px solid #DA5D10;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -16px;
}

li .talk-info:after {
    content: '';
    width: 30px;
    height: 256px;
    background: transparent;
    border-left: 3px solid #DA5D10;
    position: absolute;
    bottom: -248px;
    left: -3px;
}

#schedule .lightning-talk .talker-pic {
    border: 3px solid #32999C;
}

#schedule .lightning-talk .talk-info {
    border-left: 3px solid #32999C;
}

#schedule .lightning-talk .talk-info:before {
    border: 6px solid #32999C;
    background: url('../img/raio.svg'), white;
}

li.lightning-talk .talk-info:after {
    border-left: 3px solid #32999C;
}

li .talk-info.before-last:after {
    bottom: -220px;
}

#schedule li.last .talk-info {
    border-color: transparent;
}

li.last .talk-info:after {
    content: '';
    width: 0;
    height: 0;
}

#schedule h2 {
    color: #093b4d;
    text-align: center;
}

#schedule .talker-twitter {
    color: rgba(9, 59, 77, 1);
    text-decoration: none;
    font-size: 1.2em;
    text-align: right;
    margin: 0;
}

.talk-time {
    position: relative;
    background: #DA5D10;
    display: inline-block;
    color: white;
    padding: .5em;
}

.talk-time.lightning {
    background: #32999C;
}


#location {
    background: linear-gradient( rgba(9, 59, 77, .8), rgba(9, 59, 77, .8)), url('../img/bg-local.jpg') fixed;
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
}

#location h2 {
    color: white;
    margin-top: 100px;
}

#location h3 {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

#location a {
    color: white;
    background: transparent;
    border: 2px solid #DA5D10;
    padding: 1em;
    margin-bottom: 100px;
    text-decoration: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

#location a:hover {
    background: #DA5D10;
}

#sponsors {
    background: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 10%;
}

#sponsors h2 {
    color: #093b4d;
}

#sponsors h3 {
    margin: 50px 0;
    margin-bottom: 10px;
    font-family: 'BebasR', sans-serif;
    letter-spacing: 2px;
}

.be-sponsor {
    background: none;
    padding: 1em;
    margin-top: 90px;
    margin-bottom: 50px;
    text-decoration: none;
    color: #32999C;
    font-size: 1.2em;
    transition: all .4s ease-in-out;
    border: 2px solid #32999C;
}

.be-sponsor:hover {
    background: #32999C;
    color: white;
}

#sponsors .silver-sponsor img {
    width: 50%;
    margin: 1em;
}

#sponsors .bronze-sponsor img {
    width: 40%;
    margin: 1em;
}

#about {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1em;
    background: #093b4d url('../img/half-logo.png') fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
}

#about h2 {
    text-align: center;
}

#about p {
    max-width: 600px;
    line-height: 1.5;
    padding: 0 2em;
}

#about .coc-button {
    background: none;
    border: 2px solid #32999C;
    padding: 1em;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: all .4s ease-in-out;
}

#about .coc-button:hover {
    background: #32999C;
}

.organizers {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
    text-align: center;
}

#about h2.organizers-title {
    margin-top: 20px;
}

.organizers a {
    text-decoration: none;
}

.organizers figure {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.organizers img {
    border: 3px solid #DA5D10;
}

.organizers figcaption {
    font-size: 1.5em;
    margin-top: 15px;
    color: white;
}

.organizers span {
    font-size: 1.2rem;
}

#contact {
    background: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2em;
    text-align: center;
}

#contact a {
    font-size: 2em;
    text-decoration: none;
    color: #093b4d;
    transition: all .3s ease-in-out;
    width: 100%;
    padding: 1em 0;
    padding-bottom: 0;
    word-wrap: break-word;
    text-align: center;
}

#contact a img {
    padding: .2em;
}

#contact a:hover {
    opacity: .3;
}

#contact .social-links {
    margin: 2em;
    margin-bottom: 1em;
}

#contact .social-links a {
    margin: .3em;
    transition: .3s ease-in-out;
}

#contact .social-links a:hover {
    opacity: 0.3;
}

#contact .email {
    padding-left: .5em;
    padding-right: .5em;
}

footer {
    background: white;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #093B4D;
    font-weight: 400;
    text-align: center;
    padding: 0 1em;
}

footer a {
    color: #093B4D;
    font-size: 1em;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

@media screen and (max-height: 550px) {
    .wrapper-flex {
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}

@media screen and (max-width: 600px) {
    .organizers {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .talker.lightning .talk-title:before {
        right: 4px;
    }

    h2 {
        font-size: 2.5em;
    }
    h2:after,
    h2:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 35px;
        background: #f48038;
    }

}

@media screen and (max-width: 700px) {
    header {
        height: 0;
    }
    nav li {
        display: block;
        padding: 0;
    }
    .navigation {
        list-style: none;
        background: #093B4D;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        margin: 0;
        padding: 0;
        display: block;
    }
    .nav-trigger {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
    .nav-trigger:checked + label {
        left: 215px;
    }
    .nav-trigger:checked ~ .site-wrap {
        left: 200px;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    .nav-trigger + label,
    .site-wrap {
        transition: left 0.2s;
    }
    label[for="nav-trigger"] {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 2;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' fill='#DA5D10' width='20px' height='20px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='3'/><rect y='24' width='30' height='3'/><rect y='12' width='30' height='3'/></svg>");
        background-size: contain;
    }
    nav li a {
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
        display: inline-block;
        padding: 1em;
        width: 100%;
    }
    nav li a:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    h1 {
        margin: 0;
    }
    h1 img {
        width: 40%;
    }
    .event-info p {
        margin: 0;
        font-size: 1.2em;
        padding: 0 .3em;
    }
    .hero-button {
        margin-top: 5%;
        padding: .8em 2.5em;
        font-size: 1.3em;
    }
    .link-palestrante {
        display: inline-block;
        margin-top: 0;
        padding: .8em 1em;
    }
    .light-tag {
        left: -29px;
    }
    .light-tag:after {
        left: 0;
        height: 74px;
        bottom: -30px;
    }
    .light-tag.end {
        left: -44px;
    }
    .light-tag.end:after {
        border-left: 3px solid #DA5D10;
        height: 30px;
        left: 0;
    }
    #schedule {
        background: white;
    }
    #schedule .talk-info {
        padding-left: 30px;
    }
    #schedule .talker {
        padding: 10px 0 60px 0;
    }
    li .talk-info.before-last:after {
        bottom: -150px;
    }
    #schedule .talker-info {
        min-width: 0;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        position: relative;
        left: 0;
        margin-bottom: 40px;
    }
    #schedule .talker-info p {
        text-align: left;
    }
    #location h3 {
        font-size: 2em;
    }
    #about {
        background: #093b4d;
    }
}

@media screen and (min-width: 701px) {
    .first-section {
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    h1 {
        margin-top: 0;
        width: 50%;
    }
    h1 img {
        width: 50%;
    }
    .event-info {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        border-left: 1px solid white;
        width: 50%;
    }
    .event-info .event-date {
        font-size: 2.5em;
    }
    .hero-button {
        margin-top: 35px;
        min-width: 30%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 859px) and (max-height: 590px) {
    h1 img {
        width: 35%;
    }
    h1 {
        margin-top: 5px;
    }
    .link-palestrante {
        font-size: 1em
    }
    .hero-button {
        margin-top: 10%;
        padding: .8em 1em;
    }
}

@media screen and (min-width: 550px) and (max-width: 860px) {
    h1 img {
        width: 35%;
    }
}

@media screen and (max-height: 410px) {
    .wrapper-flex {
        display: inline-block;
        height: auto;
    }
    .first-section {
        height: auto;
        width: auto;
        display: inline-block;
    }
}