html {
    box-sizing: border-box;
    background: url('../img/splash-bg.jpg') no-repeat center center fixed;
    /*CREDITS  - Picture taken from: https://www.flickr.com/photos/74434277@N06/8136102013/*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.wrapper-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

section {
    text-align: center;
}
h1 {
    margin-bottom: 0;
}
.event-info p {
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 0.9;
    font-weight: 300;
}

.event-info .event-date{
    font-weight: bold;
    font-size: 1.5em;
}


.link-palestrante {
    color: white;
    font-size: 1em;
    text-decoration: none;
    border-bottom: 2px solid white;
}
.hero-button {
    background: #F48038;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em 2.1em;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 10%;
    text-decoration: none;
    border-bottom: 5px solid #DA5D10;
}

footer {
    width: 100%;
    background: #093B4D;
    position: absolute;
    padding: 0.4em;
    bottom: 0;
    left: 0;
}
footer a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

footer div {
    text-align: center;
}
footer a:hover {
    text-decoration: underline;
}

footer #social-networks a {
    margin-right: 10px;
    font-size: 1.2em;
}
footer #social-networks a:last-child {
    margin-right: 0;
}

@media only screen and (max-device-height: 480px) and (orientation: portrait) {
    /* Match iPhone 4s and below height */
}

@media screen and (max-width: 35.5em) {
    footer {
        text-align: center;
    }
    footer #social-networks {
        margin-top: 20px;
        text-align: center;
    }
}
